
    
body{
        background-color: lightgoldenrodyellow;
}
header h1{
        background-color: crimson;
        height: 120px;
        width: 1900px;
        text-align: center;
}



h1 {
  text-align: center;
  margin: 0px 0;
  color: black;
}

.large{
        font-size: 60px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
h2{
        text-align: center;
}

.lrg{
        font-size: 30px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav {
  background-color: skyblue;
  height:60px;
  width:1900px;
  text-align: end;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

nav a {
  color: black;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: darkblue;
}

img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 50%;
  margin: 50px;
  box-shadow: 0 4px 8px rgba(145, 5, 5, 0.1);
  align-items: center;
}



